numpy
matplotlib
keras
tensorflow
Pillow
pandas
transformers
mediapipe
opencv-python
gymnasium
nltk
gensim
tensorboard
tiktoken
spacy
minisom
IPython
flair
chromadb
ultralytics
deepface
tf-keras #needed by deepface